body{

    width: 80px;
    margin: 10px auto;

}

#contenu{

    background-color: lawngreen;
    border: 2px solid plum;

}

header , footer{

    height: 80px;
    background-color: mediumaquamarine;
    color: rgb(255, 102, 0);
    text-align: center;
    padding-top: 20px;

}

nav{

    height: 40px;
    background-color: lightseagreen;
    height: 50px;
    text-align: left;

}

section{

    border: 20px;
    background-color: navy;
    height: 500px;
    text-align: center;

}

p{

    margin: 0;

}
